html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/bg.jpg');
  background-attachment: fixed;
  font-family: 'Merriweather', serif;
  color: #212931;
}

.text-style-1 {
  font-weight: 900;
  font-family: 'Source Sans 3', sans-serif;
  text-transform: uppercase;
  letter-spacing: .075em;
}

.text-style-2 {
  font-weight: 300;
  line-height: 2rem;
}